select {
  // display: block;
  // margin: auto;

}

.animal-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.animal {


  // &:nth-child(odd) {
  //   background: $color2;
  // }

  .details {//flex parent


  }
}
