// $color2: #e3e8ec;

body {
  background-color: #f8f6f7;
  font-family: sans-serif;
  margin: 0;
  .hero {
    background-image: url("../../resources/img/zoo.jpg");
    background-size: cover;
    background-position: center;
    height: 70px;
    display: flex;
  }

  .container {
    padding: 40px;
    .flex-mom {
      // display: flex;
      // justify-content: space-around;
      .animal-list {
        border: 2px solid green;
      }
      .add-animal {
        border: 2px solid blue;
      }
      .edit-animal {
        border: 2px solid pink;
      }
    }
  }
}
