// $color2: #e3e8ec;

body {
  background-color: #f8f6f7;
  font-family: sans-serif;
  margin: 0;
}

.container {
  padding: 40px;
}

.hero {
  background-image: url("../../resources/img/hero.jpg");
  background-size: cover;
  background-position: center;
  height: 700px;
  display: flex;
  h1 {
    margin: auto;

    color: #f8f6f7;
    font-size: 11em;
  }
}

#title {
  text-align: center;
}

.beers {

  .beer {
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:nth-child(odd) {
      background: #f6f1ed;
    }

    .name {
      max-width: 110px;

    }
    .details {//flex parent
      display: flex;
      align-items: center;
      // border: 1px solid black;
      width: 1000px;
      ul {
        margin: 0 20px;
        li{
          border: inherit;
          display: inline;
          margin: 0 30px;
          text-align: left;

        }
      }
    }

    .buttons {
    }
  }
}

.flex-mom {
  display: flex;
  justify-content: space-around;
}
