
body {
  background-color: #f8f6f7;
  font-family: sans-serif;
  margin: 0;
  .hero {
    background-image: url("../../resources/img/zoo.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
  }

  .container {
    padding: 40px;
    .flex-mom {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      .animal-list, .edit-animal, .add-animal {
        padding: 30px;

      }
    }
  }
}
